<div class="page-container">
  <div class="credit-card">
    <div class="header">
      <h1>Solicitud de Crédito</h1>
      <p>Complete los datos para crear una nueva solicitud</p>
    </div>

    <form (ngSubmit)="crearSolicitud()" #creditoForm="ngForm">

      <!-- Cédula -->
      <div class="form-group">
        <label for="cedula">Cédula del solicitante</label>

        <input
          type="text"
          id="cedula"
          name="cedula"
          [(ngModel)]="solicitud.cedula"
          placeholder="Ej. 8-123-456"
          required
          #cedula="ngModel"
        />

        @if (cedula.invalid && cedula.touched) {
          <small class="error">
            La cédula es obligatoria.
          </small>
        }
      </div>

      <!-- Monto -->
      <div class="form-group">
        <label for="monto">Monto solicitado</label>

        <div class="input-money">
          <span>$</span>

          <input
            type="number"
            id="monto"
            name="monto"
            [(ngModel)]="solicitud.monto"
            placeholder="0.00"
            min="500"
            max="50000"
            required
            #monto="ngModel"
          />
        </div>

        @if (monto.touched && monto.invalid) {
          <small class="error">
            @if (monto.errors?.['required']) {
              El monto es obligatorio.
            }

            @if (monto.errors?.['min']) {
              El monto mínimo es $500.
            }

            @if (monto.errors?.['max']) {
              El monto máximo es $50,000.
            }
          </small>
        }

        <small class="help-text">
          Monto permitido: $500 - $50,000
        </small>
      </div>

      <!-- Plazo -->
      <div class="form-group">
        <label for="plazo">Plazo</label>

        <div class="input-months">
          <input
            type="number"
            id="plazo"
            name="plazo"
            [(ngModel)]="solicitud.plazo"
            placeholder="Ej. 24"
            min="6"
            max="60"
            required
            #plazo="ngModel"
          />

          <span>meses</span>
        </div>

        @if (plazo.touched && plazo.invalid) {
          <small class="error">
            @if (plazo.errors?.['required']) {
              El plazo es obligatorio.
            }

            @if (plazo.errors?.['min']) {
              El plazo mínimo es de 6 meses.
            }

            @if (plazo.errors?.['max']) {
              El plazo máximo es de 60 meses.
            }
          </small>
        }

        <small class="help-text">
          Plazo permitido: 6 - 60 meses
        </small>
      </div>

      <!-- Botón -->
      <button
        type="submit"
        [disabled]="creditoForm.invalid"
        class="submit-button"
      >
        Crear solicitud
      </button>

    </form>
  </div>
</div>